.login-chancce {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
}

.botao-login {
    background-color: white;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: solid 1px white;
    padding: 5px;
    width: 380px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #7c97b4;
}

@media only screen and (max-width: 1920px) {

    .div-menu{
        margin-top: 0.5%
    }

    .botao-sair {
        width: 70px;
        margin-top: 18px;
    }

    .botoes-menu {
        width: 130px;
        margin-top: 5px;

    }

    .logo-menu {
        width: 140px;
        margin-top: 10px;
    }

}

@media only screen and (max-width: 991px) {

    .div-menu{
        margin-top: 2%
    }

    .botao-sair {
        width: 70px;
        margin-top: 10px;
    }

    .botoes-menu {
        width: 120px;

    }

    .logo-menu {
        width: 120px;
        margin-top: 10px;
    }

}


 #topo_bk_none{

    background: #02254d;
}
#navbar{
    background: #02254d;
    width: 100%;
}
#topo_c{
    width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.btn {
	color: white;
	text-shadow: 1px 1px 1px black;
}

/*CSS para o dropdown-menu de nível 3 ou mais.*/
.marginBottom-0 {margin-bottom:0;}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.navbar {
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: 20px;
  background-color: #02254D !important;
  height: 60px;
}

hr {
  color: black;
  background-color: black;
  height: 1px;
  opacity: 0.2;
}

.navbar-nav > li > a {

  color: white !important;
  text-shadow: 1px 1px black;

}

@media (max-width: 767px) { 
  .navbar-collapse {
    background-color: black !important;
    opacity: 0.8;
  }
}

.dropdown-toggle{
  color: white !important;
}

.dropdown-menu{
  color: black !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 80px; /* altura do seu footer */
  background-color: #E6E6FA !important;
}

table {
  background-color: white;
}

.no-filter {
  padding-bottom: 30px !important; 
  color: #999;
}

#load_geral img {
  width: 50px;
  position: absolute;
  margin-top: 15%;
}

/*Correção DataPicker*/
.ui-datepicker-header {
   background: red !important;
   color: #EEE;
 }

 #ui-datepicker-div{
  z-index: 100 !important;
  position: absolute;
 }

 .principal{
    margin-bottom: 80px;
 }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 20px;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
