.login-chancce {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
}

.botao-login {
    background-color: white;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: solid 1px white;
    padding: 5px;
    width: 380px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #7c97b4;
}

@media only screen and (max-width: 1920px) {

    .div-menu{
        margin-top: 0.5%
    }

    .botao-sair {
        width: 70px;
        margin-top: 18px;
    }

    .botoes-menu {
        width: 130px;
        margin-top: 5px;

    }

    .logo-menu {
        width: 140px;
        margin-top: 10px;
    }

}

@media only screen and (max-width: 991px) {

    .div-menu{
        margin-top: 2%
    }

    .botao-sair {
        width: 70px;
        margin-top: 10px;
    }

    .botoes-menu {
        width: 120px;

    }

    .logo-menu {
        width: 120px;
        margin-top: 10px;
    }

}



